body {
    background-color: #bfccab;
  }
  form {
    width: 400px;
    margin: auto;
    margin-top: 250px;
  }
  img {
    border-radius: 50%;
    background-color: aquamarine;
  }
  input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
  }
  .search {
    width: 75%;
  }
  .submit {
    width: 70px;
    background-color: #1c87c9;
    color: #ffffff;
  }