#body{
  background-color: blueviolet;

}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
   height: 600px;  /*Should be removed. Only for demonstration */
} 

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img {
  height: 260px;
  width: 260px;
  background-color: aquamarine;
}
#modal p {
  margin-bottom: 0;
}

.activated-heart {
  color: red;
}

.hidden {
  visibility: hidden;
}
.like-glyph {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Corben', Georgia, Times, serif;
}

p, div {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.postcomment {
float: right;
width: 300px;
border: 3px solid #73AD21;
padding: 10px;
}

* {
box-sizing: border-box;
}

